form{
    border: 5px solid rgb(1, 59, 1);
    padding: 5%;
    border-radius: 10px;
}
.cont{
    margin-left: 40%;
}
label{
    font-size: 25px;
}
input{
    width: 30%;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
}
button{
    margin-left: 75px;
    background-color: rgb(10, 231, 10);
    color: white;
    border: none;
    width: 12%;
    font-size: 20px;
    height: 30px;
    margin-top: 2%;
    border-radius: 20px;
}
button:hover{
    background-color: rgb(4, 130, 4);
}
a{
    color: white;
    font-size: 25px;
    padding: 10px;
    border-radius: 5px;
    background-color: black;
}